@charset "UTF-8";
.upup{
	width: 100%;
	border: 5px dotted blue;
	border-top:none;
	text-align: center;
	font-size: 30px;
	
}
.nono{
	font-size: 50px;
	border: 10px dotted black;
}
.up{
	text-align: right;
	margin-top: 10px;
	
}
.content{
	width: 100%;
	min-height: 500px;
	border: 3px solid green;
	text-align: left;
	padding: 5px 5px;
	font-size: 20px;
	margin-top: 10px;
}
.btn btn-info{
	margin-top: 10px;
	margin-left: -15px;
}
.col-2{
	text-align: right;
}
